# Ignora arquivos de ambiente e senhas
.env

# Ignora as pastas de volumes (não queremos subir milhares de fotos e PDFs pro GitHub)
volumes/
app/notas_fiscais/
app/faturas/

# Ignora pastas de cache do Python
__pycache__/
*.pyc

# Ignora o banco de dados local do PostgreSQL (caso a pasta de dados do docker fique exposta)
pgdata/
.secrets/
