# Ignora arquivos de ambiente e senhas
.env

# Ignora as pastas de volumes
volumes/

# Ignora pastas de cache do Python
__pycache__/
*.pyc

# Ignora o banco de dados local do PostgreSQL
pgdata/

# Ignora os Jsons das chaves
.secrets/
