# --- Interface de Comunicação ---
# Biblioteca para controlar o bot do Telegram (recebimento das fotos e PDFs)
python_telegram_bot

# --- Suporte e conexões com APIs de LLM ---
# Conexão com a API do Gemini
google-genai
# Conexão com a API da OpenAI
openai==3.9.0
# Transformação do PDF em texto
PyMuPDF
# Para a manipulação das Faturas com senhas
pypdf==4.1.0
# Para acessar MCPs
mcp==2.2.0

# --- Manipulação de Dados e Arquivos ---
# Para leitura, limpeza e padronização das faturas tabulares
pandas
# Para realizar as chamadas de API locais para o Ollama (Qwen 2.5)
requests

# --- Banco de Dados e Configurações ---
# Driver nativo e otimizado para conectar o Python ao PostgreSQL
psycopg2-binary
# Lê as senhas e tokens do arquivo .env de forma segura
python-dotenv

# --- Modulos para o acesso a Google Sheets ---
# Modulo para o tratamento
gspread==6.0.0
# Para a autenticacao
google-auth==2.28.0

